*{
    margin:0;
    padding: 0;

}

/*INDEX*/

/*header index*/

body{
    font-family: 'Josefin Sans', sans-serif;
}

.background-header{
    height: 42rem;
    width: 100%;
    background-image: url(img/img21.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    }

.nav-inicio {
    width: 50%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    
    margin-left: 50%;
    

    
}
.logopng{
    display: flex;
    width: 15%;
    margin-left: 2rem;
}
.nav-inicio a {
    text-decoration: none;
    color: beige;
    color: #08b408;

text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
}



.header-inicio{
    width: 100%;
    height: 42rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: beige;
    text-shadow: 3px 5px 2px #474747, -1px 16px 10px rgba(206,89,55,0.2);
}

.button-header{
    display: flex;
    justify-content: center;
}

/*comienzo seccion 1*/

.section1{
    background: #126A02;
background: -moz-linear-gradient(-45deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
background: -webkit-linear-gradient(-45deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
background: linear-gradient(135deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
    width: 100%;
    height: 30rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74);
}



/*cards*/

.cards-container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.cards-container img{
    width: 100%;
    

}

/*seccion promos*/

.promos{
    background: #126A02;
    background: -moz-linear-gradient(-45deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
    background: -webkit-linear-gradient(-45deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
    background: linear-gradient(135deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
        width: 100%;
        height: 30rem;
    
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74);
    margin-top: 1rem;
}

.promos p{
    width: 40%;
}

/*seccion iframe*/

.iframe-container{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.iframe-container p {
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.button-vta {
    width: 100%;
    color: black;
    background-color: #1CA418;
    height: 3rem;
    border-radius: 10px;
    margin-top: 3rem;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74);
    margin-top: 1rem;
}

.button-vta:hover {

    transform: scale(1.1);
    transition: all 0.5s ;
}

/*camino videos*/


.camino-videos{
    margin-top: 2rem;
    height: 10rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #126A02;
    background: -moz-linear-gradient(-45deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
    background: -webkit-linear-gradient(-45deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
    background: linear-gradient(135deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.74);
    margin-top: 1rem;
}

/* videos container*/
.videos-container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right:5% ;
    margin-top: 5%;
    margin-left: 5%;

    
}


/*footer*/


.footer-container{
   

    background: #126A02;
    background: -moz-linear-gradient(-45deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
    background: -webkit-linear-gradient(-45deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
    background: linear-gradient(135deg, #126A02 0%, #1CA418 50%, #7DC564 100%);
    margin-top: 1rem;
}

.footer-container img {
    margin-top: 1rem;
    width: 10%;
    display: block;

    
}